---
---

<footer class="footer bg-secondary-custom py-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 mb-4 mb-lg-0">
        <h3 class="h5 mb-3">Rolfing Therapie</h3>
        <p>Fransisca Satyani Indriastanti<br>Zertifizierte Rolfing®-Therapeutin</p>
        <div class="mt-3">
          <a href="#" class="me-3 fs-5"><i class="bi bi-facebook"></i></a>
          <a href="#" class="me-3 fs-5"><i class="bi bi-instagram"></i></a>
          <a href="#" class="me-3 fs-5"><i class="bi bi-linkedin"></i></a>
        </div>
      </div>
      
      <div class="col-sm-6 col-lg-4 mb-4 mb-lg-0">
        <h3 class="h5 mb-3">Navigation</h3>
        <ul class="list-unstyled">
          <li class="mb-2"><a href="/rolfing#home">Home</a></li>
          <li class="mb-2"><a href="/rolfing#benefits">Vorteile</a></li>
          <li class="mb-2"><a href="/rolfing#method">Die Methode</a></li>
          <li class="mb-2"><a href="/rolfing#about">Über Mich</a></li>
          <li class="mb-2"><a href="/rolfing#contact">Kontakt</a></li>
          <li><span class="text-primary-custom">Weitere Angebote:</span></li>
          <li class="mb-2"><a href="/beauty">Beauty & Skincare</a></li>
          <li><a href="/">Sala Thai Wellness</a></li>
        </ul>
      </div>
      
      <div class="col-sm-6 col-lg-4">
        <h3 class="h5 mb-3">Rechtliches</h3>
        <ul class="list-unstyled">
          <li class="mb-2"><a href="/impressum">Impressum</a></li>
          <li class="mb-2"><a href="/datenschutz">Datenschutz</a></li>
          <li><a href="/agb">AGB</a></li>
        </ul>
      </div>
    </div>
    
    <div class="row mt-4 pt-4 border-top border-white-50">
      <div class="col-md-12 text-center">
        <p class="small mb-0">&copy; 2025 Rolfing Therapie - Fransisca Satyani Indriastanti. Alle Rechte vorbehalten.</p>
      </div>
    </div>
  </div>
</footer>