---
---

<footer class="footer bg-secondary-custom py-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 mb-4 mb-lg-0">
        <h3 class="h5 mb-3">Fascia & Skincare Atelier</h3>
        <p>Fransisca Satyani Indriastanti & Igor Zener<br>
          Zertifizierte Rolfer® - European Rolfing® Association e.V.<br>
          Am Neggenborn 98, 44892 Bochum<br>
          Tel: 0234 / 794 690 82<br>
          E-Mail: <a href="mailto:info-rolfing@fascia-skincare.de">info-rolfing@fascia-skincare.de</a>
        </p>
        <div class="mt-3">
          <a href="https://www.instagram.com/fascia_skincare_atelier" aria-label="Facebook Seite" class="me-3 fs-5"><i class="bi bi-facebook"></i></a>
          <a href="https://www.facebook.com/salathaibochum" aria-label="Instagram Profil" class="me-3 fs-5"><i class="bi bi-instagram"></i></a>
        </div>
      </div>
      
      <div class="col-sm-6 col-lg-4 mb-4 mb-lg-0">
        <h3 class="h5 mb-3">Navigation</h3>
        <ul class="list-unstyled">
          <li class="mb-2"><a href="#home">Rolfing® Startseite</a></li>
          <li class="mb-2"><a href="#benefits">Vorteile der Rolfing® Therapie</a></li>
          <li class="mb-2"><a href="#method">Die Rolfing® Methode</a></li>
          <li class="mb-2"><a href="#about">Über Ihre Rolfer</a></li>
          <li class="mb-2"><a href="#contact">Kontakt & Anfahrt</a></li>
          <li><span class="text-primary-custom">Weitere Angebote im Fascia & Skincare Atelier:</span></li>
          <li class="mb-2"><a href="/beauty">Beauty & Skincare</a></li>
          <li><a href="/">Sala Thai Wellness</a></li>
        </ul>
      </div>
      
      <div class="col-sm-6 col-lg-4">
        <h3 class="h5 mb-3">Informationen & Rechtliches</h3>
        <ul class="list-unstyled">
          <li class="mb-2"><a href="#faq">Häufige Fragen zum Rolfing®</a></li>
          <li class="mb-2"><a href="#prices">Preise & Behandlungen</a></li>
          <li class="mb-2"><a href="/impressum">Impressum</a></li>
          <li class="mb-2"><a href="/datenschutz">Datenschutzerklärung</a></li>
          <li><a href="/agb">Allgemeine Geschäftsbedingungen</a></li>
        </ul>
      </div>
    </div>
    
    <div class="row mt-4 pt-4 border-top border-white-50">
      <div class="col-md-12 text-center">
        <p class="small mb-0">&copy; 2025 Fascia & Skincare Atelier - Rolfing® Therapie Bochum. Alle Rechte vorbehalten. Rolfing® ist eine eingetragene Servicemarke der European Rolfing® Association e.V.</p>
      </div>
    </div>
  </div>
</footer>