---
---

<section class="py-5 bg-light">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-10">
          <h2 class="text-center mb-4" style="color: #E78C43;">Dein erster Schritt in ein neues Körpergefühl beginnt hier.</h2>
          <p class="lead text-center mb-4">In meiner Praxis in Bochum bekommst du keine kurzfristigen Lösungen, sondern echte, nachhaltige Veränderung. Durch präzise Berührungen und strukturierte Körperarbeit öffnet sich Raum für neue Beweglichkeit, Aufrichtung und innere Ruhe. Du musst nicht mit Beschwerden leben. Du darfst dich besser fühlen. Und du darfst jetzt damit beginnen.</p>
        </div>
      </div>
    </div>
  </section>
