---
---

<section id="method" class="py-5 fade-in">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 mb-4 mb-lg-0">
          <img src="/rolfing/images/rolfingmethode.webp" alt="Rolfing Methode" class="img-fluid rounded shadow">
        </div>
        <div class="col-lg-6">
          <h2 class="display-5 fw-bold text-secondary-custom mb-3">Die Rolfing®-Methode</h2>
          <p class="mb-3">Rolfing ist eine manuelle Körperarbeit, bei der Faszien bearbeitet werden. Dies ist Herzwerk aus Bindegewebe, umgibt Muskeln, Knochen und Organe und hält sie an ihrem Platz.</p>
          <p class="mb-3">Sind die Faszien verklebt oder verhärtet, kann es zu Verspannungen und Blockaden kommen und die Beweglichkeit einschränken. Rolfer lösen ungünstige Spannungsverhältnisse im Körpergewebe mit Hilfe von Druck und Dehnung. Das kann dem Körper ermöglichen, sich an der Schwerkraft optimal auszurichten, eine gesunde Haltung einzunehmen und seine Beweglichkeit zurückzuerlangen.</p>
          <p>Rolfing kann eine effektive Methode sein, um Schmerzen, Stress und Verspannungen zu reduzieren und den Körper langfristig ins Gleichgewicht zu bringen.</p>
        </div>
      </div>
    </div>
  </section>
  