---
---

<section class="py-5 bg-light fade-in">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-4 mb-4 mb-lg-0 text-center">
          <img src="/images/strukturelle-integration.svg" alt="Strukturelle Integration" class="img-fluid">
        </div>
        <div class="col-lg-8">
          <h2 class="display-5 fw-bold text-secondary-custom mb-3">Der Ursprung: die Strukturelle Integration</h2>
          <p class="mb-3">Die Rolfing Methode wurde von Dr. Ida Rolf in den 1950er Jahren entwickelt und später in Rolfing umbenannt. Die Pionierin der Faszienforschung war davon überzeugt, dass ein Körper in Balance mit der Schwerkraft sein sollte – ist er das nicht, können daraus schlechte Haltung und andere Beschwerdebilder resultieren. Diese entstehen häufig als Kompensation negativer Erfahrungen, die jeder Mensch im Laufe seines Lebens sammelt.</p>
          <p class="mb-3">Um diesem entgegenzuwirken, zielt Dr. Rolfs Behandlungsmethode darauf ab, den Körper so zu strukturieren und zu reorganisieren, dass er sich durch eine optimale Ausrichtung frei und ohne Schmerzen bewegen kann. Dabei war es ihr wichtig, dass es sich um einen ganzheitlichen Ansatz handelt, der auch die psychologischen und emotionalen Aspekte des Körpers berücksichtigt.</p>
          <p>Die Methode wird heute weltweit von mehr als 2000 ausgebildeten Rolfern angewendet.</p>
        </div>
      </div>
    </div>
  </section>