---
---

<section class="quote bg-secondary-custom text-center">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8">
          <blockquote class="blockquote">
            <p class="fs-4 mb-3 fst-italic">"Rolfing can help you connect with your body and develop a better sense of body awareness and control."</p>
            <footer class="blockquote-footer text-white">Moshe Feldenkrais, <cite>Begründer der Feldenkrais-Methode</cite></footer>
          </blockquote>
        </div>
      </div>
    </div>
  </section>
  