---
---

<div style="background-color: #2B4A34; border-bottom: 1px solid #1A3523; font-size: 14px; padding: 5px 0;">
  <div class="container">
    <div class="d-flex justify-content-end align-items-center">
      <span class="me-2 d-none d-md-inline" style="color: #ffffff;">Fransisca Satyani Indriastanti</span>
      <span class="mx-2" style="color: #E78C43;">|</span>
      <a href="/" style="color: #ffffff; text-decoration: none; margin-right: 12px;" onmouseover="this.style.color='#BFA04B'" onmouseout="this.style.color='#ffffff'">
        Sala Thai
      </a>
      <a href="/rolfing" style="color: #E78C43; text-decoration: none; margin-right: 12px; font-weight: bold;" onmouseover="this.style.color='#BFA04B'" onmouseout="this.style.color='#E78C43'">
        Rolfing®
      </a>
      <a href="/beauty" style="color: #ffffff; text-decoration: none;" onmouseover="this.style.color='#BFA04B'" onmouseout="this.style.color='#ffffff'">
        Beauty
      </a>
    </div>
  </div>
</div>